body {
  font-family: "Gochi Hand", cursive;
}

#container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(6, 80px);
  row-gap: 20px;
  column-gap: 20px;
  width: 400px;
  margin: auto;
}

.balloon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.popped {
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  transform: translateY(25px);
}

.display-text {
  font-size: 100px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}
